/*variables*/
/**** Main page *******/
body {
  background-color: #48B484; }

.hideDisplay {
  display: none; }

/***** Navbar *****/
nav {
  color: white;
  width: 86%;
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 0 !important;
  font-weight: bold;
  font-size: 17px;
  position: relative;
  height: 5vh; }

.navbar {
  background-color: transparent; }

.navbar-brand {
  color: white !important;
  padding-bottom: 7% !important; }

.navbar-nav > li > a {
  color: white; }

.navbar-brand:hover, #signout:hover, .navbar-nav > li > a:hover {
  background-color: #42a67a; }

.navbar-header {
  margin-left: 1.3% !important; }

#userPicture {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 10px 10px 10px 10px; }

#signout {
  margin-left: 18px;
  color: white;
  text-decoration: none;
  color: white !important; }

#username {
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
  color: white; }

#logo {
  cursor: pointer; }

/****** Footer *******/
footer {
  padding: 1em;
  color: white;
  background-color: #262626;
  clear: left;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 84%;
  height: 6vh;
  margin-left: 8%;
  margin-right: 8%; }

.footerRight, .footerLeft {
  text-align: right;
  font-size: 18px;
  color: gray;
  white-space: nowrap;
  position: absolute;
  right: 0;
  width: 50%;
  padding: 2px;
  padding-right: 3%; }

.footerLeft {
  text-align: left;
  left: 0;
  padding-left: 3%; }

/****** Main part and 1-st cart ******/
.row {
  text-align: center;
  position: relative;
  width: 84%;
  height: 87.6vh;
  margin-left: 8%;
  margin-right: 8%;
  background-color: white;
  overflow: auto; }

.centerPart {
  background-color: #FAF8F2;
  height: 100%;
  padding: 5%;
  padding-top: 0%; }

.centerPartTitle {
  font-size: 25px;
  font-weight: bold;
  color: #0d618a; }

.cardCenter, .centerPartTitle {
  margin-top: 2%;
  margin-bottom: 2%; }

.cardStyle {
  text-align: center;
  color: black;
  border: 2px groove;
  border-radius: 5px;
  width: 90%;
  height: auto;
  margin-left: 5%; }

.cardImgTop {
  width: 100%;
  height: auto; }

.cardContinent {
  font-weight: bold;
  font-size: 22px;
  color: #0d618a; }

.cardTitle {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 16px; }

p {
  margin: 0; }

.buttonStart {
  display: inline-block;
  border-radius: 10px;
  background-color: #be9e21;
  border: none;
  color: black;
  text-align: center;
  font-size: 16px;
  padding: 5px;
  width: 65%;
  cursor: pointer;
  margin: 5px;
  font-weight: bold;
  outline: none; }

.buttonStart:hover {
  background-color: #ab8e1d; }

/***** quiz-questions *****/
#quizQuestions {
  width: 80%;
  margin: 10%;
  margin-top: 2%;
  margin-bottom: 1%;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  background-color: #48B484;
  border-radius: 5px;
  padding: 2%; }

#quizImage {
  width: 40%;
  margin-top: 2%;
  margin-right: auto;
  margin-left: auto; }

#feedbackImage {
  width: 60%;
  margin-top: 6%;
  margin-right: auto;
  margin-left: auto; }

.quizNav {
  width: 100%;
  height: 100%; }

#quizQuestions .correctAnswer {
  background: rgba(91, 140, 59, 0.3);
  border: rgba(91, 140, 59, 0.3) solid 1px;
  border-radius: 10px; }

#btnNext {
  background-color: lightblue;
  border: lightblue solid 2px;
  border-radius: 5px;
  width: 80%;
  outline: 0;
  height: 40px;
  margin: 1%; }

#btnNext:active {
  background-color: #79b9e1; }

#btnNext:disabled {
  opacity: 0.75;
  cursor: not-allowed; }

.feedbackPage h1 {
  font-size: 28px;
  color: black;
  margin-bottom: 4%;
  font-weight: bold; }

#feedbackPage {
  margin: 55px;
  background: #f5f0e4;
  padding: 15px;
  border-radius: 40px; }

.finalScore {
  background-color: #48B484;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px; }

#btnTryAgain, #btnNextGame {
  background-color: #bfb291;
  border: none;
  border-radius: 5px;
  width: 45%;
  outline: 0;
  height: 40px;
  font-weight: bold;
  margin: 1%; }

#btnTryAgain:hover, #btnNextGame:hover {
  background-color: #a89c7e; }

/************************/
#right, #wrong {
  background-color: #cee1e2;
  border: #b5d2d3 solid 2px;
  border-radius: 5px;
  width: 45%;
  outline: 0;
  height: 50px;
  font-weight: bold;
  margin: 1%; }

#right:hover, #wrong:hover {
  background-color: #b5d2d3;
  border: #b5d2d3 solid 2px; }

#resultMessage {
  background-color: #e0d0ab;
  border: #dac89c solid 2px;
  border-radius: 5px;
  width: 93%;
  outline: 0;
  font-weight: bold;
  margin: 1%;
  margin-left: 4%;
  padding: 7px; }

#resultStep, #resultScore {
  background-color: #e5d8b9;
  border: #e0d0ab solid 2px;
  border-radius: 5px;
  width: 45%;
  display: inline-flex;
  height: 40px;
  font-weight: bold;
  margin: 1%;
  padding: 7px; }

.greenBorder {
  border-color: #48B484 !important; }

.redBorder {
  border-color: red !important; }

button:disabled {
  background: #dddddd; }

button:disabled:hover {
  cursor: not-allowed;
  background: #dddddd; }

#nextLevel {
  background-color: #48B484;
  border: none;
  border-radius: 5px;
  width: 75%;
  outline: 0;
  height: 50px;
  font-weight: bold;
  margin: 5%;
  font-size: 1.5em; }

#nextLevel:hover {
  background-color: #42a67a; }

/*********capital2***************/
#answer1, #answer2, #answer3, #answer4 {
  background-color: #cee1e2;
  border: #b5d2d3 solid 2px;
  border-radius: 5px;
  width: 45%;
  outline: 0;
  height: 50px;
  font-weight: bold;
  margin: 1%; }

#answer1:hover, #answer2:hover, #answer3:hover, #answer4:hover {
  background-color: #b5d2d3;
  border: #b5d2d3 solid 2px; }

/********* Responsive media queries ************/
@media (min-width: 768px) and (max-width: 980px) {
  #pointText {
    font-size: 13px;
    margin: 0;
    padding: 0; } }
@media (min-width: 551px) and (max-width: 767px) {
  #pointText {
    font-size: 12px;
    margin: 0;
    padding: 0; }

  .navbar-nav > li {
    float: left; }

  .collapse {
    display: block; }

  .navbar-header {
    float: left; }

  .navbar-brand {
    padding: 10px 0 0 0 !important;
    margin: 10px 0 0 0 !important; }

  .collapse {
    float: right; }

  .navbar-right {
    height: 60px; }

  #user_picture {
    margin-top: 5px; } }
@media (min-width: 20px) and (max-width: 550px) {
  .navbar-brand {
    padding-left: 16px; } }

/*# sourceMappingURL=styleCapital.css.map */
