$textgold: #be9e21;
$sectionBackgroundWhite: #f9f9fb;
$navbarDarkGreenBlue: #002F2F;
$lightGrey03: rgba(0, 0, 0, 0.3);
$lightGrey05: rgba(0, 0, 0, 0.5);
$verylightGrey: #F3F4F8;
$lightGrey: #f5f6f9;
$khakiGreen: #659781;
$buttonHoverGold: #ab8e1d;
$grey: #dddddd;
$black: rgba(0,0,0,.075);
$lightBlue: rgba(102,175,233,.6);

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.5px;
    overflow-x: hidden;
}

.section-padding {
    padding: 60px 0px;
    background-color: $sectionBackgroundWhite;
}

.hideDisplay {
    display: none;
}

/************* HEADER ****************/
.header{
    background: url('../img/map.png') no-repeat fixed;
    background-size: cover;
    position: relative;
    background-color: lightblue;
    min-height: 700px;
}
.wrapper {
    background-color: $lightGrey03;
    min-height: 700px;
}

.navbar-default {
    background-color: transparent;
    border:0px;
    padding: 20px 0;
    transition: all 0.3s;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: $navbarDarkGreenBlue;
}

.top-nav-collapse {
    padding: 0;
    background: $lightGrey05;
}

.logo-dec {
    color: $textgold;
}
.navbar-default .navbar-brand {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: white;
}
.navbar-brand {
    padding: 0px;
    font-size: 24px;
    text-transform: uppercase;
    padding: 15px 0px;
    margin-top: 6px;
}
.navbar-default .navbar-nav > li > a {
    padding: 5px 10px;
    font-size: 14px;
    line-height: 54px;
    font-weight: 400;
    text-transform: uppercase;
    background: transparent;
    color: white;
    -webkit-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color: $textgold;
    background-color: transparent;
}

#user_picture {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 10px 10px 10px 10px;
}

#username {
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
  color: white;
}

.banner-info {
    padding-top: 17%;
    color: white;
    font-weight: bold;
}
.bnr-title {
  margin-top: 2%;
  font-size: 25px;
  font-family: 'Fira Sans', sans-serif;
}

.bnr-sub-title {
    font-size: 37px;
    text-transform: uppercase;
    padding: 20px 0px;
}

.bonus-line {
	color: red;
	font-size: 20px;
	font-weight: bold;
}

.btn-start, .btn-more, .btn-start:focus, .btn-more:focus {
    text-transform: uppercase;
    margin-top: 50px;
    color: white;
    border: 0;
    font-size: 14px;
    line-height: 24px;
    padding: 10px 30px;
    border-radius: 60px;
    margin: 50px 10px 0 0;
    outline: none !important;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.3s;
}

.btn-start {
    background-color: $textgold;
}

.btn-more, .btn-more:focus {
    margin-left: 15px;
    border: 1px solid $textgold;
    color: $textgold;
}

.btn-more:hover {
    background: $textgold;
    color: white;
}

.overlay-detail a i {
   text-align: center;
   position: absolute;
   bottom: 25px;
   font-size: 38px;
   color: white;
   width: 100%;
}

/*******Service**********/

#idservice {
  background-color: $verylightGrey;
}

.service-item {
  margin: 30px;
}

.service-item div span {
  color: $textgold;
  opacity: 0.7;
  font-size: 65px;
  line-height: 1;
  font-weight: bold;
  padding-right: 7px;
}

.service-item div {
    font-weight: bold;
    font-size: 20px;
}

.service-item p {
    opacity: 0.6;
    color: inherit;
    padding: 10px 0px;
}

.service-item a {
    color: $textgold;
}

.service-title {
    font-size: 28px;
    font-weight: bold;
    margin: 30px;
}

.service-sub-title {
    font-size: 16px;
    margin: 40px;
}

//*******Games**********//

#games {
  background-color: $lightGrey;
}

.gameTitle {
   font-size: 40px;
   font-weight: bold;
   color: $khakiGreen;
   text-align: center;
}

.gameText {
   font-size: 20px;
   font-weight: bold;
   margin-bottom: 20px;
   color: $textgold;
   text-align: center;
}

.cardStyle {
  font-size: 14px;
	text-align: center;
	color: black;
	border: 2px groove;
	border-radius: 5px;
  padding: 1px;
  margin:10px;
}

.buttonStyle {
  display: inline-block;
  border-radius: 16px;
  background-color: $textgold;
  border: none;
  color: black;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: 170px;
  cursor: pointer;
  margin: 5px;
	font-weight: bold;
}

.buttonStyle:hover {
  background-color: $buttonHoverGold;
}

button:disabled {
    background: $grey;
}

button:disabled:hover {
    cursor: not-allowed;
    background: $grey;
}

/********* contact ***********/

.btn-submit, .btn-submit:hover, .btn-submit:focus {
    background-color: transparent;
    border-radius: 60px;
    color: $textgold;
    font-weight: 400;
    border: 1px solid $textgold;
    font-size: 14px;
    padding: 6px 20px;
}
.form-control {
    background-color: transparent;
    border-radius: 0px;
    color: $textgold !important;
    border-color: $textgold;
}
.form-control:focus {
    border-color: $textgold;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px $black, 0 0 8px $lightBlue;
    box-shadow: inset 0 1px 1px $black, 0 0 8px $lightBlue;
}
.contact-form input.form-control{
    color: white;
}

.validation {
    color: red;
    display:none;
    margin: 0 0 20px;
    font-weight:400;
    font-size:13px;
}

#sendmessage {
    color: green;
    border:1px solid green;
    display:none;
    text-align:center;
    padding:15px;
    font-weight:600;
    margin-bottom:15px;
}

#errormessage {
    color: red;
    display:none;
    border:1px solid red;
    text-align:center;
    padding:15px;
    font-weight:600;
    margin-bottom:15px;
}

#sendmessage.show, #errormessage.show, .show {
    display:block;
}

.loction-info p {
    margin-bottom: 25px;
}
.loction-info p i {
    color: $textgold;
}

#footer {
    padding: 20px 0px;
}


#footer a{
    color: $textgold;
    font-weight: 400;
}

.white-bg {
    background-color: white;
}
/********* Responsive media queries ************/

@media (min-width: 768px) and (max-width: 980px) {
.login-box, .signup-box {
    left: 76%;
}
#titleText {
  padding-left: 0;
  padding-right: 0;
}
.navbar-brand {
    padding-left: 16px;
}
.navbar-collapse.in {
    overflow-y: visible;
}
}

@media (min-width: 551px) and (max-width: 767px) {
.navbar-collapse.in {
   overflow-y: visible;
}
#services, #games, #contact {
  display: none !important;
}
.navbar-default .navbar-brand {
    margin-top: 0px;
}
.service-item, .wrap-item {
    margin-bottom: 15px;
}
.bnr-title {
    font-size: 20px;
    margin-top: 15%;
}
.bnr-sub-title {
    font-size: 25px;
}
.bonus-word, .logo-dec {
    font-size: 20px;
}
.navbar-default .navbar-nav > li > a {
    line-height: 30px;
}
.navbar-brand {
    padding-left: 16px;
}

}
@media (min-width: 20px) and (max-width: 550px) {
.navbar-collapse.in {
   overflow-y: visible !important;
}
#services, #games, #contact {
  display: none !important;
}
.navbar-fixed-top .navbar-collapse {
    max-height: 100%;
}
.navbar-brand {
    padding-left: 16px;
}
.banner-info {
    padding-top: 40px;
}
.bnr-title {
    font-size: 18px;
    margin-top: 50%;
}
.bnr-sub-title {
    font-size: 26px;
}
.btn-start, .btn-more, .btn-start:hover, .btn-more:hover, .btn-start:focus, .btn-more:focus {
    font-size: 12px;
    padding: 7px 18px;
}
.wrap-item h3 {
    font-size: 18px;
}
.loction-info{
    padding: 0px 15px;
}
.padding-right-zero{
    padding-right: 15px !important;
}
.navbar-default .navbar-nav > li > a{
    line-height: 22px;
}
}
