<div ng-controller="flag2Ctrl" data-ng-init="onLoadFunction()">

	    <div class="row">

	      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 left-part" ng-controller="rightLeftCtrl">
	          <div class="info" ui-sref="home()">Home page</div>
						<div>
								<hr></hr>
								<button class="roundButton" ui-sref="home()" ui-sref-active="active">Home</button>
								<hr></hr>
								<button class="roundButton" ui-sref="flag1()" ui-sref-active="active">Flag 1</button>
								<hr></hr>
								<button class="roundButton" id="buttonFlag2" disabled ui-sref="flag2()" ui-sref-active="active">Flag 2</button>
								<hr></hr>
								<button class="roundButton" id="buttonFlag3" disabled ui-sref="flag3()" ui-sref-active="active">Flag 3</button>
								<hr></hr>
						</div>

	      </div>

	    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 centerPart">

	      <div id="main">
	      <div ng-hide="card" id="mainCards">

	        <div class="centerPartTitle col-lg-12 col-md-12 hidden-sm hidden-xs">Choose the continent and get more points</div>

	        <div class="cardCenter col-lg-4 col-md-4 col-sm-6 col-xs-6" id="start-page-asia">
	          	<div class="cardStyle" style="border-color:green; background-color:#a0e2a0">
	            		<img class="cardImgTop" src="img/asia.jpg" alt="Card image" >
	              	<h4 class="cardTitle">Flags 2</h4>
	              	<div class="cardContinent">Asia</div>
	              	<button class="buttonStart" id="asia2" ng-click="card=true; start('Asia')">Start</button>
	          	</div>
	        </div>

	        <div class="cardCenter col-lg-4 col-md-4 col-sm-6 col-xs-6" id="startPageEurope">
	          	<div class="cardStyle" style="border-color:green; background-color:#a0e2a0">
	            		<img class="cardImgTop" src="img/europe.png" alt="Card image" >
	            		<h4 class="cardTitle">Flags 2</h4>
	              	<div class="cardContinent">Europe</div>
	              	<button class="buttonStart" id="europe2" ng-click="card=true; start('Europe')">Start</button>
	            </div>
	        </div>

	        <div class="cardCenter col-lg-4 col-md-4 col-sm-6 col-xs-6" id="startPageAfrica">
	          	<div class="cardStyle" style="border-color:green; background-color:#a0e2a0">
	            		<img class="cardImgTop" src="img/africa.jpg" alt="Card image" >
              		<h4 class="cardTitle">Flags 2</h4>
              		<div class="cardContinent">Africa</div>
              		<button class="buttonStart" id="africa2" ng-click="card=true; start('Africa')">Start</button>
	          	</div>
	        </div>

	        <div class="cardCenter col-lg-4 col-md-4 col-sm-6 col-xs-6" id="startPageAmericas">
	          	<div class="cardStyle" style="border-color:green; background-color:#a0e2a0">
	            		<img class="cardImgTop" src="img/americas.jpg" alt="Card image" >
	              	<h4 class="cardTitle">Flags 2</h4>
	              	<div class="cardContinent">Americas</div>
	              	<button class="buttonStart" id="americas2" ng-click="card=true; start('Americas')">Start</button>
	          	</div>
	        </div>

	        <div class="cardCenter col-lg-4 col-md-4 col-sm-6 col-xs-6" id="startPageOceania">
	          	<div class="cardStyle" style="border-color:green; background-color:#a0e2a0">
	            		<img class="cardImgTop" src="img/oceania.jpg" alt="Card image" >
	              	<h4 class="cardTitle">Flags 2</h4>
	              	<div class="cardContinent">Oceania</div>
	              	<button class="buttonStart" id="oceania2" ng-click="card=true; start('Oceania')">Start</button>
	            </div>
	        </div>

	        <div class="cardCenter col-lg-4 col-md-4 col-sm-6 col-xs-6" id="startPageWorld">
	          	<div class="cardStyle" style="border-color:green; background-color:#a0e2a0">
	            		<img class="cardImgTop" src="img/world.jpg" alt="Card image" >
	              	<h4 class="cardTitle">Flags 2</h4>
	              	<div class="cardContinent">World</div>
	              	<button class="buttonStart" id="world2" ng-click="card=true; start('World')">Start</button>
	          	</div>
	        </div>

	      </div> <!-- end mainCards part-->

	      <div id="quizResults" ng-show="card">
						<div id="titleTextFlag1"><span id="roundNumber">Round 2</span> <br> Questions with four answers</div>
						<hr></hr>
						<img ng-src="{{ flag }}" id="flagImage">
						<div id="quizQuestions"> {{ questionText }} </div>
	          <button id="answer1" ng-disabled="disabledButton" ng-click="message=true; test($event)">{{answer1}}</button>
	          <button id="answer2" ng-disabled="disabledButton" ng-click="message=true; test($event)">{{answer2}}</button>
						<button id="answer3" ng-disabled="disabledButton" ng-click="message=true; test($event)">{{answer3}}</button>
						<button id="answer4" ng-disabled="disabledButton" ng-click="message=true; test($event)">{{answer4}}</button>
						<div id="resultMessage" ng-show="message" ng-class="classAnswerText"> {{ answerText }}</div>
        		<div id="resultStep">{{ resultStep }}</div>
        		<div id="resultScore">{{ resultScore }}</div>
	          <button disabled id="btnNext" ng-click="message=false; next()">Next</button>
	      </div>

	      </div> <!-- end main part-->

	      <div class="feedbackPage ng-hide" id="feedbackPage">
	        	<div id="feedbackImage">
	          		<img class="cardImgTop" src="img/berlin2.jpg" alt="Card image" style="width:100%">
	        	</div>
	        	<h1>Congratulation!</h1>
	        	<p class="finalScore" id="finalScore">{{ finalScore }}</p>
	        	<button id="btnNextGame" ng-click="nextGame()">Next game</button>
	        	<button id="btnTryAgain" ng-click="tryAgain()">Reset points and Try Again</button>
				</div>

				<div class="ng-hide" id="levelResultFlag2">
						<button id="nextLevel" ui-sref="flag3">Play next level</button>
				</div>

	    </div> <!-- end center part-->

	      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 right-part" ng-controller="rightLeftCtrl" data-ng-init="onLoadFunction()">
	        	<div id="pointText">Points</div>
						<div id="point"> {{ pointFromDB }} </div>
	      		<div id="titlePart" ng-mouseover="title=true" ng-mouseout="title=false">
	        			<div id="myTitleIs">My title is </div>
	        			<div id="knightTitle"> {{ knightTitle }} </div>
	      		</div>
	      		<div id="showAllTitles" ng-show="title">
	        			<div id="listOfTitles">List of titles</div>
	        			<div class="titles" id="knight">1.&nbsp;&nbsp; Knight</div>
	        			<div class="titles" id="baron">2.&nbsp;&nbsp; Baron</div>
	        			<div class="titles" id="graf">3.&nbsp;&nbsp; Graf</div>
	        			<div class="titles">4.&nbsp;&nbsp; Duke</div>
	        			<div class="titles">5.&nbsp;&nbsp; King</div>
	      		</div>
	        	<button id="restart" ui-sref="home" ng-click="tryAgain()">Restart game</button>
	      </div>

	    </div>

	<footer>
	  <span class="col-sm-6 footerLeft">Chaparyan</span>
	  <span class="col-sm-6 footerRight">Geography Quiz<span>
	</footer>

</div>
